table{
    padding-left: 10px;
}
td{
    font-family:cursive;
}
header{
    background-color: #637a91;
    color: white;
    height: 25px;
    text-align: center;
}
h3{
    text-align: center;
    color: white;
    
}
a{
    text-decoration: none;
}
footer{
    padding-left: 40px;
    font-size: 70%;
}
#form{
    padding-top: 10px;
}
#submit{
    background-color:#5fcf80;
    color: white;
    border-radius: 10rem;
    width: 300px;
    height: 30px;
}
#subbutton{
    padding-left: 33px;
}
#inputbox{
    align-self: center;
    border: black solid;
    width: 370px;
    height: 235px;
    margin: auto ;
}
